.main-content {
  display: flex;
}

.canvas-div {
  margin: auto;
}

#mazeCanvas {
  overflow-x: scroll;
  overflow-y: scroll;
}

.button-class {
  display: block;
  margin: auto;
  width: 100px;
  margin-bottom: 10px;
}

.button-div {
  margin-right: 50px;
  margin-left: 25px;
  margin-top: 25px;
}

.instruction-box {
  margin-left: 50px;
}

.grid-label {
  display: block;
  margin: auto;
}
.x-input {
  margin-top: 10px;
  display: block;
  width: 20px;
}

.y-input {
  margin-top: 10px;
  display: block;
  width: 20px;
}

#x-input,
#y-input {
  width: 50px;
  display: block;
}
